header {
    background-color: lightgrey;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 20px;
}

body {
    background-color: cadetblue;
}

.quiz-container {
    background-color: lightgrey;
    margin: 50px;
    height: 250px;
}

